*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-cor-menu{
    background-color: yellow;
}

.nav-item{
    border-radius: 0 10px;
    transition: 0.2s;
    padding-left: 8px;
}

.nav-item:hover{
    margin-left: 10px;
    background-color: white;
}